@import './home_responsive.scss';

.home {
  .Articles-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    article {
      width: calc(100%/4);

      img {
        width: 100%;
      }
    }
  }
}